<header class="modal-header">
    <h1>生成的 HTML 文档</h1>
</header>
<a class="close icon-x" href="" title="关闭" {{action "closeModal"}}><span class="hidden">关闭</span></a>

<div class="modal-body">
    {{textarea value=generatedHtml rows="6"}}
</div>
