<header class="modal-header">
    <h1>的确要删除此博文吗？</h1>
</header>
<a class="close icon-x" href="" title="关闭" {{action "closeModal"}}><span class="hidden">关闭</span></a>

<div class="modal-body">
    <p>
        即将删除 "<strong>{{model.title}}</strong>"。<br />
        此操作不可逆！没有备份、不能恢复、没有后悔药。<br />
        这是最后警告！小心！
    </p>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="btn btn-default btn-minor">取消</button>
    {{#gh-spin-button action="confirm" class="btn btn-red" submitting=submitting}}删除{{/gh-spin-button}}
</div>
