<div class="no-posts-box">
    <div class="no-posts">
        <h3>目前没有任何标签！</h3>
        {{#link-to "settings.tags.new"}}<button type="button" class="btn btn-green btn-lg" title="添加标签">添加标签</button>{{/link-to}}
    </div>
</div>
