<div class="no-posts-box">
    {{#if noPosts}}
        <div class="no-posts">
            <h3>一篇博文都没有！</h3>
            {{#link-to "editor.new"}}<button type="button" class="btn btn-green btn-lg" title="新建博文">我来写一篇</button>{{/link-to}}
        </div>
    {{/if}}
</div>
