{{#gh-modal-dialog action="closeModal" showClose=true type="action"
    title="邀请新用户" confirm=confirm class="invite-new-user"}}

    <fieldset>
        {{#gh-form-group errors=errors hasValidated=hasValidated property="email"}}
            <label for="new-user-email">邮箱地址</label>
            {{gh-input enter="confirmAccept" class="email" id="new-user-email" type="email" placeholder="被邀请用户的邮箱地址" name="email" autofocus="autofocus"
            autocapitalize="off" autocorrect="off" value=email focusOut=(action "validate" "email")}}
            {{gh-error-message errors=errors property="email"}}
        {{/gh-form-group}}

        <div class="form-group for-select">
            <label for="new-user-role">角色/权限</label>
            <span class="gh-select" tabindex="0">
                {{gh-select-native id="new-user-role"
                    content=roles
                    optionValuePath="id"
                    optionLabelPath="name"
                    selection=role
                    action="setRole"
                }}
            </span>
        </div>
    </fieldset>

{{/gh-modal-dialog}}
