<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
</head>
<body bgcolor="#ffffff" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="margin: 0; font-family: sans-serif; font-size: 15px; line-height: 1.5; color: #808284; background: #ffffff; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100%;">

<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
    <tr>
        <td bgcolor="#ffffff" width="100%">

            <table class="main-wrapper" width="600" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
                <tr>
                    <td class="cell" width="100%">

                        <div class="wrapper" style="margin: 2%; padding: 5% 8%; border: #e5e3d8 1px solid; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;">
                            <table class="content" width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td class="content-cell" width="100%">

                                        <!-- START OF EMAIL CONTENT -->
                                        <p style="margin: 0; padding: 0 0 1.5em 0; color: #808284; font-size: 15px; line-height: 1.5em; font-family: sans-serif; font-weight: normal;"><strong>你好！</strong></p>
                                        <p style="margin: 0; padding: 0 0 1.5em 0; color: #808284; font-size: 15px; line-height: 1.5em; font-family: sans-serif; font-weight: normal;">祝贺你！你的 Ghost 博客已经成功创建了：{{ siteUrl }} </p>
                                        <p style="margin: 0; padding: 0 0 1.5em 0; color: #808284; font-size: 15px; line-height: 1.5em; font-family: sans-serif; font-weight: normal;">现在就可以登录进来与 Ghost 亲密接触了，登录账号和密码如下：</p>
                                        <p style="margin: 0; padding: 0 0 1.5em 0; color: #808284; font-size: 15px; line-height: 1.5em; font-family: sans-serif; font-weight: normal;"> 邮箱地址：{{ownerEmail}} <br>
                                            密码：还记得你注册时你所输入的密码吗？</p>
                                        <p style="margin: 0; padding: 0 0 1.5em 0; color: #808284; font-size: 15px; line-height: 1.5em; font-family: sans-serif; font-weight: normal;">请将此邮件妥善保管。</p>
                                        <p style="margin: 0; padding: 0 0 1.5em 0; color: #808284; font-size: 15px; line-height: 1.5em; font-family: sans-serif; font-weight: normal;">xoxo</p>
                                        <br><br>
                                        <p style="margin: 0; padding: 0 0 1.5em 0; color: #808284; font-size: 15px; line-height: 1.5em; font-family: sans-serif; font-weight: normal;">Ghost<br>
                                        <a href="https://ghost.org" style="color: #5ba4e5;">https://ghost.org</a></p>
                                        <br><br>
                                        <p style="margin: 0; padding: 0 0 1.5em 0; color: #808284; font-size: 15px; line-height: 1.5em; font-family: sans-serif; font-weight: normal;">Ghost 中国：<br>
                                        <a href="http://www.ghostchina.com" style="color: #5ba4e5;">http://www.ghostchina.com</a></p>
                                        <p style="margin: 0; padding: 0 0 1.5em 0; color: #808284; font-size: 15px; line-height: 1.5em; font-family: sans-serif; font-weight: normal;">Ghost 中国问答社区：<br>
                                        <a href="http://wenda.ghostchina.com" style="color: #5ba4e5;">http://wenda.ghostchina.com</a></p>
                                        <p style="margin: 0; padding: 0 0 1.5em 0; color: #808284; font-size: 15px; line-height: 1.5em; font-family: sans-serif; font-weight: normal;">Ghost 中国官方微博：<br>
                                        <a href="http://weibo.com/ghostchinacom" style="color: #5ba4e5;">http://weibo.com/ghostchinacom</a></p>
                                        <!-- END OF EMAIL CONTENT -->

                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="container" style="padding: 0 4%;">
                            <table class="footer" width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="footer-cell" align="right" style="padding: 0 0 20px 0; color: #888888; font-size: 11px; line-height: 1.3; font-family: sans-serif;">
                                        此邮件由 <a href="{{siteUrl}}" style="color: #5ba4e5;">{{siteUrl}}</a> 发出。
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>

</body>
</html>
