{{#gh-modal-dialog action="closeModal" showClose=true type="action" style="wide,centered" animation="fade"
    title="博文未保存" confirm=confirm}}

    <p>嘿，同学！系统出现故障，你被“退出登录”了。好像你还有未保存的博文哦，如果关闭这个页面，你的心血就白费了。</p>

    <p>建议将你写的博文复制到其他地方以作备份！</p>

{{/gh-modal-dialog}}
