{{#gh-modal-dialog action="closeModal" showClose=true type="action" style="wide,centered" animation="fade"
    title="是否真的要删除此用户？" confirm=confirm}}

    <p>所有和此用户相关联的数据都将被删除。没有备份数据可以恢复！
    </p>

{{/gh-modal-dialog}}