{{#gh-modal-dialog action="closeModal" showClose=true type="action" style="wide,centered" animation="fade"
    title="是否确定删除此标签？" confirm=confirm}}

    <p>你将要删除标签 "<strong>{{model.name}}</strong>"。<br /> 
    {{#if model.post_count}}
    <span class="red">共有 {{model.post_count}} 篇 {{inflection}} 被标记为此标签。</span>
    {{/if}}
    此删除操作不可逆！没有备份、不可恢复。<br /> 确定要删除吗？</p>

{{/gh-modal-dialog}}