{{#gh-modal-dialog action="closeModal" showClose=true type="action" style="wide,centered" animation="fade"
    title="是否确认要删除此博文？" confirm=confirm}}

    <p>此操作不可逆！没有备份、不能恢复、没有后悔药。 <br /> 这是最后警告！小心！</p>

{{/gh-modal-dialog}}
