{{#if view.canMakeOwner}}
<li><button {{action "openModal" "transfer-owner" this}}>设置为博客业主</button></li>
{{/if}}
{{#if view.deleteUserActionIsVisible}}
<li><button {{action "openModal" "delete-user" this}} class="delete">删除用户</button></li>
{{/if}}