<section class="js-notification {{typeClass}}">
    <span class="notification-message">
        {{message.message}}
    </span>
<<<<<<< HEAD:core/client/templates/components/gh-notification.hbs
    <button class="close" {{action "closeNotification"}}><span class="hidden">关闭</span></button>
</section>
=======
    <button class="close" {{action "closeNotification"}}><span class="hidden">Close</span></button>
</section>
>>>>>>> c2650a05c7f3c2b8280a34ea1eb9aaf3a6fc0c5f:core/client/app/templates/components/gh-notification.hbs
