<header>
    <h1>欢迎使用 <strong>Ghost</strong>！</h1>
    <p>截止到现在，总共有 <em>{{model.count}}</em> 个 Ghost 博客分布在世界各地。现在，就等你加入我们了！</p>
</header>

<figure class="gh-flow-screenshot">
    <img src="{{gh-path 'admin' 'img/install-welcome.png'}}" alt="Ghost 效果图" />
</figure>

{{#link-to "setup.two" classNames="btn btn-green btn-lg"}}
    创建账户 <i class="icon-chevron"></i>
{{/link-to}}
