<header>
    <h1>邀请小伙伴儿们</h1>
    <p>Ghost 完美地支持共创、协作、交流。</p>
</header>

<img class="gh-flow-faces" src="{{gh-path 'admin' 'img/users.png'}}" alt="" />

<form class="gh-flow-invite">
    {{#gh-form-group errors=errors hasValidated=hasValidated property="users"}}
        <label for="users">每行一个邮箱地址，我来帮您发邀请！<i class="icon-mail"></i></label>
        {{gh-textarea name="users" value=users required="required" focusOut=(action "validate")}}
    {{/gh-form-group}}

    {{#gh-spin-button type="submit" action="invite" classNameBindings=":btn :btn-default :btn-lg :btn-block buttonClass" submitting=submitting autoWidth="false"}}{{buttonText}}{{/gh-spin-button}}
</form>

<button class="gh-flow-skip" {{action "skipInvite"}}>
    稍后再邀请，先进入博客！
</button>
